@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: serif;

    /* set base values */
    --text-base-size: 1.6rem;
}
