/**
 * @mixin flex-config
 * Adds only display: flex; if no arguments are passed.
 * Adds properties if true.
 */
@mixin flex-config($content: false, $flex: false, $dir: false, $items: false) {
  display: flex;

  @if $content != false {
    justify-content: $content;
  }

  @if $flex != false {
    flex: $flex;
  }

  @if $dir != false {
    flex-direction: $dir;
  }

  @if $items != false {
    align-items: $items;
  }
}
